<div class ="col-sm-6">
  <div class="card">
    <% if task.deadline > Time.zone.now %>
      <h5 class="card-header card-green">タスク<%= task.id %></h5>
    <% else %>
      <h5 class="card-header card-red">タスク<%= task.id %></h5>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= task.title %></h5>
      <p class="card-text">期限：<%= task.deadline.to_s(:datetime_jp) %></p>
      <p class="card-text">担当者：<%= task.user.name %></p>
      <p class="card-text">ステータス：<%= task.status %></p>
      <%= link_to "詳細", task, class: "btn btn-primary" %>
      <% if task.user == current_user%>
        <%= link_to "編集", edit_task_path(task), class: "btn btn-info" %>
        <%= link_to "削除", task_path(task), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>