<h1>アサイン</h1>
<p>現在アサインされているユーザ</p>
<p><%= @task.user.name %></p>

<%= form_with(url: update_assignment_task_url, method: :patch, local: true) do |f| %>
  <div class="form-group">  
    <%= f.label :user_id , "新しくアサインするユーザ"%>
    <%= f.collection_select(:user_id, @users, :id, :name, {}, {class: "form-control"})%>
  </div>
  <%= f.submit "更新する", class: "btn btn-primary" %>
<% end %>

